
body {
  background: black ;
  font-family: 'Times New Roman', Times, serif;
}

.flex-container {
  margin-top: 10vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 20vh;
  align-items: center;
  padding-right: 20ch;
}

.wrapper{
  display: flex;
  max-width: 350px;
  margin-left: 150px;

}
.box {
  width: 150px;

}

.photo {
  max-height: 375px;
  max-width: 300px;
}

.img {
  max-height: 375px;
  max-width: 300px;
}

.description {
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  background: rgb(226, 231, 195);
  max-height: 50px;
}

.date {
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgb(84, 84, 164);
  text-align: center;
  max-height: 50px;
}
